{% extends 'member/base.html' %}
{% load humanize %}
{% block title %}주문서 작성{% endblock %}

{% block content %}
<div class="container my-3">
    <div class="card">
        <div class="card-body">
            <h3>상품결제</h3>
<div class="alert alert-info" role="alert"> {{user.username}}님의 배송 정보</div>
<form action="" method="post" class="order-form">
{{form.as_p}}
{% csrf_token %}
<div class="alert alert-info" role="alert">상품 목록</div>
<table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Product</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart_list %}
				{% with product=item.product %}
                <tr>
                    <th scope="row">
                        <a href="{{ product.get_absolute_url }}">
                            <img src="{{product.pro_img.url}}" class="img-thumbnail" width="100">
                        </a>
                    </th>
                    <td>{{product.pro_name}}</td>
                    <td>{{item.amount}}</td>
                    <td class="num">{{item.price|intcomma}}</td>
                    <td class="num">{{item.get_sum|intcomma}}</td>
                </tr>
				{% endwith %}
            {% endfor %}
		<tr class="total">
            <td>Total</td>
            <td colspan="2"></td>
            <td colspan="2" class="num"><div class="alert alert-success " role="alert">{{cart_total|intcomma}}</div></td>
        </tr>
        </tbody>
    </table>
<input type="submit" class="btn btn-danger btn-sm float-right" value="주문하기">
</form>
</div>
</div>
</div>
{% endblock %}